<template>
  <div class="container">
    <div class="card-detail">
      <div>
        <img src="https://via.placeholder.com/250x350">
      </div>
      <div class="desc-detail">
        <b>{{ vehicle.name }}</b>
        <br>Description: {{ vehicle.description }}
        <br>Vehicle class: {{ vehicle.vehicle_class }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    vehicle () {
      return this.$store.state.vehicle.vehicleDetail
    }
  },
  mounted () {
    this.$store.dispatch('getVehicleById', this.$route.params.id)
  }
}
</script>
