<template>
  <div class="cards">
    <div 
      v-for="(vehicle, key) in vehicles"
      :key="vehicle.id"
      class="card"
    >
      <nuxt-link :to="'/vehicles/' + vehicle.id">
        <img 
          v-if="key%2==0"
          src="~/assets/img/vehicles/image-1.jpg" 
        >
        <img 
          v-if="key%2!=0"
          src="~/assets/img/vehicles/image-2.png"
        >
        <div class="desc">
          {{ vehicle.name }}
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    vehicles () {
      return this.$store.state.vehicle.vehicleList
    }
  },
  mounted () {
    this.$store.dispatch('getVehicleList')
  }
}
</script>
