<template>
  <div>
    <header-section/>
    <div class="container">
      <nuxt/>
    </div>
  </div>
</template>

<script>
import HeaderSection from '~/components/HeaderSection.vue'

export default {
  components: {
    HeaderSection
  }
}
</script>