<template>
  <div class="container">
    <div class="card-detail">
      <div>
        <img src="https://via.placeholder.com/250x350">
      </div>
      <div class="desc-detail">
        <b>{{ locationDetail.name }}</b>
        <br>Climate: {{ locationDetail.climate }}
        <br>Terrain: {{ locationDetail.terrain }}
        <br>Surface Water: {{ locationDetail.surface_water }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    locationDetail () {
      return this.$store.state.location.locationDetail
    }
  },
  mounted () {
    this.$store.dispatch('getLocationById', this.$route.params.id)
  }
}
</script>
