<template>
  <div class="container">
    <div class="cards">
      <div 
        v-for="(location, key) in locationList"
        :key="location.id"
        class="card"
      >
        <nuxt-link :to="'/locations/' + location.id">
          <img 
            v-if="key%2==0"
            src="~/assets/img/locations/image-1.jpeg" 
          >
          <img 
            v-if="key%2!=0"
            src="~/assets/img/locations/image-2.jpeg"
          >
          <div class="desc">
            {{ location.name }}
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    locationList () {
      return this.$store.state.location.locationList
    }
  },
  mounted () {
    this.$store.dispatch('getLocationList')
  }
}
</script>
