<template>
  <div class="container">
    <div class="card-detail">
      <div>
        <img src="https://via.placeholder.com/250x350">
      </div>
      <div class="desc-detail">
        <b>{{ film.title }}</b>
        <figcaption>
          {{ film.description }}
        </figcaption>
        <br>Director: {{ film.director }}
        <br>Producer: {{ film.producer }}
        <br>Release Date: {{ film.release_date }}
        <br>Score: {{ film.rt_score }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    film() {
      return this.$store.state.film.filmDetail
    }
  },
  mounted () {
    this.$store.dispatch('getFilmById', this.$route.params.id)
  }
}
</script>
