<template>
  <div class="container">
    <div class="cards">
      <div 
        v-for="(film, key) in filmList"
        :key="key"
        class="card"
      >
        <nuxt-link 
          :to="'/films/' + film.id" 
          :class="'card-item-' + film.id"
          :name="'card-item-' + film.id"
        >
          <img 
            v-if="key%2==0"
            src="~/assets/img/films/image-1.jpg" 
          >
          <img 
            v-if="key%2!=0"
            src="~/assets/img/films/image-2.jpg"
          >
          <div class="desc">
            {{ film.title }}
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    filmList () {
      return this.$store.state.film.filmList
    }
  },
  mounted () {
    this.$store.dispatch('getFilmList')
  }
}
</script>
