<template>
  <div class="container">
    <div class="card-detail">
      <div>
        <img src="https://via.placeholder.com/250x350">
      </div>
      <div class="desc-detail">
        <b>{{ species.name }}</b>
        <br>Classification: {{ species.classification }}
        <br>Eye color: {{ species.eye_colors }}
        <br>Hair color: {{ species.hair_colors }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    species () {
      return this.$store.state.species.speciesDetail
    }
  },
  mounted () {
    this.$store.dispatch('getSpeciesById', this.$route.params.id)
  }
}
</script>
