<template>
  <div class="container">
    <div class="cards">
      <div 
        v-for="(speciesItem, key) in species"
        :key="speciesItem.id"
        class="card"
      >
        <nuxt-link :to="'/species/' + speciesItem.id">
          <img 
            v-if="key%2==0"
            src="~/assets/img/species/image-1.png" 
          >
          <img
            v-if="key%2!=0"
            src="~/assets/img/species/image-2.jpg"
          >
          <div class="desc">
            {{ speciesItem.name }}
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    species () {
      return this.$store.state.species.speciesList
    }
  },
  mounted () {
    this.$store.dispatch('getSpeciesList')
  }
}
</script>
