<template>
  <header class="header-container">
    <div class="logo">
      <a href="/">
        <img 
          src="~assets/img/ghibli-logo.png"
          width="180">
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/films">Film</a>
        </li>
        <li>
          <a href="/locations">Location</a>
        </li>
        <li>
          <a href="/peoples">People</a>
        </li>
        <li>
          <a href="/species">Species</a>
        </li>
        <li>
          <a href="/vehicles">Vehicle</a>
        </li>
      </ul>
    </nav>
  </header>
</template>