.cards {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  flex-direction: row;
  max-height: 100vh;
  margin-left: 80px;
  flex-wrap: wrap;
}

.cards img {
  margin: 10px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
  max-width: 23vw;
}

.card {
  margin-right: 2.3em;
  margin-bottom: 2.3em;
  border: 1px solid #ddd;
}

.card-detail {
  display:flex;
  flex-direction: row;
  padding: 2.3 2.3em;
  justify-content: flex-start;
}

.card-detail div {
  margin: 1.5em 1em 0 1%;
}

.desc {
  text-align: center;
}

.desc-detail {
  text-align: justify;
}