<template>
  <div>
    <div class="container__search">
      <input 
        v-model="searchInput"
        placeholder="Search for films" 
        class="search"
      >
    </div>
    <div class="cards">
      <div 
        v-for="(film,key) in filteredFilms"
        :key="film.id"
        class="card"
      >
        <nuxt-link :to="'/films/' + film.id">
          <img 
            v-if="key%2==0"
            src="~/assets/img/films/image-1.jpg" 
          >
          <img
            v-if="key%2!=0"
            src="~/assets/img/films/image-2.jpg"
          >
          <div class="desc">
            {{ film.title }}
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchInput: ''
    }
  },
  computed: {
    filmList () {
      return this.$store.state.film.filmList
    },
    filteredFilms() {
      let self = this
      return self.filmList.filter(film => {
        let sameFilm = film.title.toLowerCase()
          .includes(self.searchInput.toLowerCase())
        return sameFilm
      })
    }
  },
  mounted () {
    this.$store.dispatch('getFilmList')
  }
}
</script>

<style scoped>
.done {
  text-decoration: line-through;
}

.container__search {
  margin-bottom: 30px;
}

.search {
  width: 100%;
  background-color: #f2f2f2;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
