<template>
  <div class="container">
    <div class="card-detail">
      <div>
        <img src="https://via.placeholder.com/250x350">
      </div>
      <div class="desc-detail">
        <b>{{ people.name }}</b>
        <br>Gender: {{ people.gender }}
        <br>Age: {{ people.age }}
        <br>Eye color: {{ people.eye_color }}
        <br>Hair color: {{ people.hair_color }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    people () {
      return this.$store.state.people.peopleDetail
    }
  },
  mounted () {
    this.$store.dispatch('getPeopleById', this.$route.params.id)
  }
}
</script>
