<template>
  <div class="container">
    <div class="cards">
      <div 
        v-for="(people, key) in peoples"
        :key="people.id"
        class="card"
      >
        <nuxt-link :to="'/peoples/' + people.id">
          <img 
            v-if="key%2==0"
            src="~/assets/img/peoples/image-1.png" 
          >
          <img
            v-if="key%2!=0"
            src="~/assets/img/peoples/image-2.jpg"
          >
          <div class="desc">
            {{ people.name }}
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    peoples () {
      return this.$store.state.people.peopleList
    }
  },
  mounted () {
    this.$store.dispatch('getPeopleList')
  }
}
</script>